<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<FastRollingFile name="FastRollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<pattern>%d %p %c{1.} [%t] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</FastRollingFile>
		<FastFile name="File" fileName="logs/server.log">
			<PatternLayout>
				<pattern>%d %p %c{1.} [%t] %m%n</pattern>
			</PatternLayout>
		</FastFile>
	</appenders>
	<loggers>
		<root level="DEBUG">
			<appender-ref ref="Console" />
			<appender-ref ref="File" />
		</root>
	</loggers>
</configuration>